<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ budget.name }} Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">{{ budget.name }} Details</h1>
        
        <h3 class="mt-4">Entries</h3>
        <ul class="list-group mt-4">
            {% for entry in budget.entries.all %}
            <li class="list-group-item">
                <strong>{{ entry.category.name }}</strong> - ₹ {{ entry.amount }}
            </li>
            {% empty %}
            <li class="list-group-item">No entries for this budget.</li>
            {% endfor %}
        </ul>

        <div class="mt-4 text-center">
            <!-- Pass the budget.id to the 'budget_entry_create' URL -->
            {% comment %} <a href="{% url 'budget_and_entry_create' budget.id %}" class="btn btn-success">Add Entry</a> {% endcomment %}
            <a href="{% url 'budget_list' %}" class="btn btn-primary">Back to Budget List</a>
        </div>
    </div>
</body>
</html>
